*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
.contnear{
    display: flex;
    height: 24rem;
    max-width: 30rem;
    width: 80%;
    /* margin-top: 7rem; */
}
.contnear_1{
    height: 24rem;
    width: 15rem;
    
}
.contnear_1 img{
    height: 24rem;
    width: 15rem;
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.image2{
    display: none;
}
.contnear_2{
    height: 24rem;
    width: 15rem;
    background-color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contnear_2 h1{
    margin-left: 1rem;
    color: #000;
    font-weight: 700;
    font-size: 2.1rem;
}
.contnear_2 p{
color: hsl(228, 12%, 48%);
font-size: 14px;
font-weight: 500;
margin: 1rem;
/* margin-top: 1.5rem; */
opacity: 0.8;
}
.contnear_2 h3{
    font-size: 2rem;
    /* margin: 1rem; */
    margin-left: 1rem;
    color: hsl(158, 36%, 37%);
}
.contnear_2 h3 span{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.contnear_2 button{
    margin: 1rem;
    height: 2.5rem;
    width: 13rem;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0.5rem;
    /* margin-top: 1.8rem; */
}
.contnear_2 button span{
    font-size: 16px;
}
/* media qurry */
@media (max-width: 375px){
    .contnear{  
        display: -ms-flexbox;
        flex-direction: column;
        height: 35rem;
        width: 21rem;
    }
    .contnear_1 img{
        position: absolute;
        /* height: 13.5rem; */
        height: 35%;
        width: 21rem;
        background-size: cover;
        background-image: 2.jpg;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
    } 
    .image2{
        display: block;
    }
    .contnear_2{
        height: 21.5rem;
        width: 21rem;
        margin-bottom: 10.5px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }
    .contnear_2 h1{
        font-size: 2.1rem;
        margin-left: 1.5rem;
        font-weight: 700;
    }
    .contnear_2 p{
        font-size: 16px;
        margin-left: 1.5rem;
    }
    .contnear_2 h3{
        font-size: 1.9rem;
        margin-left: 1.5rem;
        /* margin: 1.5rem; */
    }
    .contnear_2 button{
        margin-left: 1.5rem;
        text-align: center;
        width: 18rem;
        height: 3rem;
    }
    
}

